
# UI
streamlit

# Environment Variables
python-dotenv

# LangChain
langchain
langchain-core
langchain-community
langchain-text-splitters

# Mistral AI
mistralai
langchain-mistralai

# HuggingFace Embeddings
langchain-huggingface
sentence-transformers
transformers
huggingface-hub
tokenizers

# Vector Database
chromadb

# Document Loaders
pypdf
python-docx
docx2txt
